<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(title='quitt - Index')">
    <meta charset="UTF-8">
    <title>quitt - Index</title>
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<section id="body">
    <form class="loginform" action="#" th:action="@{/}" method="post">
        <fieldset>
            <label for="title">Name: </label>
            <input type="text" maxlength="40" name="title" id="title" />
        </fieldset>
        <fieldset>
            <select multiple name="members">
                <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}">Username</option>
            </select>
        </fieldset>
        <input type="submit" />
    </form>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>