<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">quitt - My Balance</title>
    <link rel="stylesheet" href="quitt.css" th:href="@{/css/quitt.css}" />
</div>
<header th:fragment="header">
    <h1>quitt</h1>
    <nav>
        <a href="#" th:text="${session.currentuser}">abmelden</a>
    </nav>
</header>

<footer th:fragment="footer">
    <nav>
        <ul>
            <li><a class="link-home" href="groups.html" th:href="@{/}">Balance</a></li>
            <li><a class="link-add-group" href="groups.html" th:href="@{/add_group}">Add Group</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>